
@{
    ViewBag.Title = "Detail";
}

<h2></h2>
<div class="d-det">
    <h2 style="text-align:center;">@ViewBag.obj.name</h2>
    <img  style="width:800px;"  src="~/Content/imgs/@ViewBag.obj.image"/>

    <p>Area:@ViewBag.obj.area</p>
    <div>
        @ViewBag.obj.description
    </div>

</div>

